<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokedex </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pokemon of listaPokemon">
        <ion-card color="buba">
          <ion-card-header>
            <img
              class="buba"
              src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
            />
            <ion-title>{{ pokemon['name'] | titlecase }} </ion-title>
            <ion-badge color="grass">Grass</ion-badge>
            <ion-badge color="poison">Poison</ion-badge>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
